<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Reseptikirja</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	</head>
	<body>
		<div style="max-width: 50%; margin: auto">
			<h1 style="margin: auto; text-align: center;">Reseptit</h1>
			<div sec:authorize="isAuthenticated()">
				<form th:action="@{/logout}" method="post">
					<input type="submit" value="Kirjaudu ulos" class="btn btn-sm btn-danger"/>
				</form>
			</div>				
			<a sec:authorize="isAnonymous()" class="btn btn-primary" href="/login" role="button">Kirjaudu sisään</a>
			<a sec:authorize="isAuthenticated()" class="btn btn-primary" href="/addrecipe" >Lisää resepti</a>
			<a sec:authorize="isAuthenticated()" class="btn btn-primary" href="/user" >Omat reseptit</a>
			<table class="table table-striped table-hover">
				<tr>
					<th>Nimi</th>
				</tr>
				<tr th:each="food : ${foods}">
					<td><a th:href="@{/recipe/{id}(id=${food.foodId})}" th:text="${food.name}"></a></td>
				</tr>
			</table>
		</div>
	</body>
	</html>