<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Lisää ainesosa</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	</head>
	<body>
		<h1 style="margin: auto; text-align: center;">Lisää ainesosa</h1>
		<div style="max-width: 50%; margin: auto">
			<form action="#" th:action="@{/saveingredient/{id}(id=${food.foodId})}" th:object="${ingredient}"  method="post">
					<p>Nimi: <input th:field="*{name}" type="text"> </p>   		
			    	<p>Määrä: <input th:field="*{amount.amount}" > </p>	
			    	<label for="deplist">Yksikkö</label>
						<select id="deplist" th:field="*{amount.unit}" class="form-control">
			       			<option th:each="unit: ${units}" th:value="${unit.unitId}" th:text="${unit.unit}"></option>
			    		</select> <br>
					<input type="submit" value="Tallenna">
				</form>
			</div>
	
	</body>
</html>