<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Virhe</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link type="text/css" rel="stylesheet"
			th:href="@{/css/bootstrap.min.css}" />
	</head>
	<body>
		<div style="max-width: 50%; margin: auto">
			<h1 style="margin: auto; text-align: center;">Jotain meni pieleen</h1>
			<a class="btn btn-primary" href="/" role="button">Palaa etusivulle</a>
		</div>
	</body>
	</html>